accelerate
aiohttp
datasets
dion @ git+https://github.com/microsoft/dion.git
einops
grpcio>=1.74.0
huggingface_hub>=1.0.0
jsonlines
nemo-automodel @ git+https://github.com/NVIDIA-NeMo/Automodel.git@6739351966b6d73cec2e9e6179f9d107a329b4f0
optree>=0.15.0
packaging
peft
pylatexenc
pynvml>=12.0.0
ray[default]==2.55.0
sympy
tensorboard
torch
torchdata
torchmetrics
tqdm
transformers
vllm
vllm-router>=0.1.14
wandb
wheel
